@layer base {
  /* Kario39C3 Variable Font - Primary UI Font
     Axes: wght (10-100), wdth (30-160), opsz (8-140) */
  @font-face {
    font-family: 'Kario39C3';
    src:
      url('../fonts/Kario39C3VarWEB-Roman.woff2') format('woff2'),
      url('../fonts/Kario39C3VarWEB-Roman.woff') format('woff');
    font-weight: 10 100;
    font-stretch: 30% 160%;
    font-display: swap;
  }
}
